
<link href="__ROOT__/valite/css/demo.css" type="text/css" rel="stylesheet" />
<title>密码修改</title>
<!--页面内容-->
	<div class="content">
		<!--内容背景为第二种的时候 -->
		<div class="content_type_two">

			<!--为内容里面的内容-->
			<div class="content_body">
				<div class="background_orange"></div>
				<div class="background_coffee "></div>
				<!--侧导航-->
				<div class="kongzhi">
					<div class="sidebar">
						<div class="sidebar_top">


							<div class="sidebar_title">
								<p class="chinese">会员中心</p>
								<p class="english">Brand introduction</p>
							</div>


							<div class="sidebar_list ">

								<ul>
									<foreach name="side" item="v" >
									 <if condition="$v.he eq 0">
									   <eq name="Think.ACTION_NAME" value="$v['en']" > 
									        
									          <li class="list_inthis"><a href="__MODULE__/{$v.url}" class="list_a_inthis">{$v.name}</a></li>
									     
									          
									        
									    <else />
									         <li><a href="__MODULE__/{$v.url}">{$v.name}</a></li>    
									   </eq>
									</if>   
									</foreach>
									<span class="clear_float"></span>
								</ul>

							</div>





						</div>





					</div>

					<!--内容的右侧-->
					<div class="content_body_right">
						<div class="right_title">
							<span class="titlename">修改密码</span> 
                            <span class="current_location">当前位置 >会员中心</span> 
                            <span class="clear_float"></span>
						</div>

						<div class="change_password">
							<form action="" method="post" class="message">
								<p class="hint">亲爱的，在此可以修改密码</p>
								<p>
									<span>当前密码：</span><input type="password"   ajaxurl="{:U('MemberCenter/ChangePassword')}" 	datatype="*5-12" nullmsg="密码不能为空" errormsg="长度大于等于5小于等于12" />
								</p>
								
								<p>
									<span>新密码：</span><input type="password" name="password" datatype="*5-12" nullmsg="密码不能为空" errormsg="长度大于等于5小于等于12" plugin="passwordStrength"  />
								</p>
								
								<p >
									<div class="passwordStrength" style="width:400px;margin-left:250px; margin-bottom:20px;">密码强度： <span>弱</span><span>中</span><span class="last">强</span></div>
								    <spanclass="clear_float"></span>
								</p>
								<p class="confirm_password">
									<span>确认新密码：</span><input type="password" datatype="*5-12" nullmsg="密码不能为空" errormsg="密码不一致" recheck="password"  />
								</p>
								<p>
									<span> 验证码：</span><input type="text"   datatype="*" nullmsg="验证码为空"  ajaxurl="{:U('Public/vcode')}"/>
								</p>
								<p>
									<a>请输入图中字符，不区分大小写</a>
								</p>
								<p class="code">
									<img src="{:U('Public/vcode')}"   class="code_image"/><a class="code_image">看不清，换一张</a>
								</p>
								<p class="submit">
									<input type="submit" value="确   定" />
								</p>
							</form>
						</div>




					</div>

					<div class="clear_float"></div>


				</div>
			</div>


		</div>


	</div>
	
<script type="text/javascript" src="__ROOT__/valite/plugin/passwordStrength/passwordStrength-min.js"></script>
	
    <script>
	$(".message").Validform({
		      tiptype:3,
		      showAllError:true,
		      usePlugin:{
					passwordstrength:{
						minLen:5,
						maxLen:12
					}
				}
		      
		});	
	
	/* 切换验证码 */
	var num =1;
	  $(".code_image").click(function(){
		 
		  	var url=$(this).attr("src");
		  	 
		  	
		  	//更改超链接地址的属性：
		  	//alert(url);
		  	$(this).attr("src","{:U('Public/vcode')}?num='"+num+"'");//变量不能在双引号中使用。
		  	$(".code_image").attr("src","{:U('Public/vcode')}?num='"+num+"'");
		  //然后让数字自增：
		  	num++;
		   
		  })
	
	</script>

