

<title>新闻详情</title>
	<!--banner_ad 横幅轮播图-->
	<div class="banner_ad">

		<div class="banner" id="banner">
			<div class="pages" data-scro="list">
				<ul>
					<foreach name="list2" item="v">
					<li class="item" style="left: 0px;"><img src="__ROOT__/{$v.images}"></li>
				   </foreach>
				</ul>
			</div>

			<div class="controler" data-scro="controler">
				<b class="down"></b> <b></b> <b></b>
			</div>
		</div>


	</div>


	<!--页面内容-->
	<div class="content">
		<!--内容背景为第一种的时候 -->
		<div class="content_type_one">

			<!--为内容里面的内容-->
			<div class="content_body">
				<div class="background_orange"></div>
				<div class="background_gray"></div>
				<div class="kongzhi">
					<!--侧导航-->
					<div class="sidebar">
						<div class="sidebar_top">


							<div class="sidebar_title">
								<p class="chinese">新闻中心</p>
								<p class="english">NEWS</p>
							</div>


							<div class="sidebar_list">

								<ul>
									
									<foreach name="category" item="v">
									    <if condition="$categoryone eq $v['id']">
									    <li class="list_inthis"><a href="{:U('News/NewsCenter',array('id'=>$v['id']))}" class="list_a_inthis">{$v.name}</a></li>
									    <else />
									    <li><a href="{:U('News/NewsCenter',array('id'=>$v['id']))}">{$v.name}</a></li>
									    </if>
									</foreach>
									<span class="clear_float"></span>
								</ul>

							</div>

							<div class="sidebar_title sidebar_title_margin">
								<p class="chinese">联系我们</p>
								<p class="english">contact us</p>
							</div>



						</div>


						<div class="sidebar_bottom">
							<p class="onlinefirst">在线客服一：QQ{$list1.servicea}</p>
							<p class="onlinesecend">在线客服二：QQ{$list1.serviceb}</p>
							<p class="telphone">联系电话：{$list1.phone}</p>
							<p class="email">邮箱：{$list1.email}</p>
						</div>




					</div>

					<!--内容的右侧-->
					<div class="content_body_right">
						<div class="right_title">
							<span class="titlename">新闻中心</span> <span
								class="current_location">当前位置>新闻中心>详情页</span> <span
								class="clear_float"></span>
						</div>
						
                    <foreach name="list" item="v">
						<div class="newscontent_details">
							<div class="details_title">{$v.title}</div>
							<div class="details_info">
								<p class="info">作者：{$v.author} 时间：{$v.time}   内容来源：{$v.content_source}
									图片来源：{$v.des_source}</p>
								<p class="guide">文章导读</p>
							</div>
							<div class="details_pick">{$v.des}</div>
							<div class="details_img">
								<img src="__ROOT__/{$v.images}" />
							</div>
							<div class="details_text">{$v.content}</div>
						</div>
                    </foreach>




						<!--底部分页-->
						<div class="paging">
							<!-- <a href="">首页</a> 
                            <a href="">上一页</a> 
                            <a href="" class="digital">	1 </a> 
                            <a href="" class="digital"> 2 </a> 
                            <a href="" class="digital">3 </a> 
                            <a href="" class="digital"> 4 </a> 
                            <a href="" class="digital">	5 </a> 
                            <a href=""> 下一页 </a> <a href=""> 末页</a> -->
                            {$page}
						</div>


					</div>

					<div class="clear_float"></div>



				</div>
			</div>


		</div>


	</div>

   <script>
   
      var height = $(".kongzhi").height();
      //alert(height);
      if(height>1102){
      $(".content").height(height);
      }
     
   </script>


