
<title>联系我们</title>
	<!--banner_ad 横幅轮播图-->
	<div class="banner_ad">

		<div class="banner" id="banner">
			<div class="pages" data-scro="list">
				<ul>
					<foreach name="list2" item="v">
					<li class="item" style="left: 0px;"><img src="__ROOT__/{$v.images}"></li>
				   </foreach>
				</ul>
			</div>

			<div class="controler" data-scro="controler">
				<b class="down"></b> <b></b> <b></b>
			</div>
		</div>


	</div>


	<!--页面内容-->
	<div class="content">
		<!--内容背景为第一种的时候 -->
		<div class="content_type_one">

			<!--为内容里面的内容-->
			<div class="content_body">
				<div class="background_orange"></div>
				<div class="background_gray_getcontact_us"></div>
				<div class="kongzhi">
					<!--侧导航-->
					<div class="sidebar">
						<div class="sidebar_top">


							<div class="sidebar_title">
								<p class="chinese">给我留言</p>
								<p class="english">Give me a message</p>
							</div>


							<div class="sidebar_list">

								<ul>
									<a href="{:U(ContactUs/ContactUs)}" class="list_a_inthis"><li class="list_inthis">留言</li></a>
									<span class="clear_float"></span>

								</ul>

							</div>

							<div class="sidebar_title sidebar_title_margin_getcontact_us ">
								<p class="chinese">联系我们</p>
								<p class="english">contact us</p>
							</div>



						</div>


						<div class="sidebar_bottom">
							<p class="onlinefirst">在线客服一：QQ{$list1.servicea}</p>
							<p class="onlinesecend">在线客服二：QQ{$list1.serviceb}</p>
							<p class="telphone">联系电话：{$list1.phone}</p>
							<p class="email">邮箱：{$list1.email}</p>
						</div>


					</div>

					<!--内容的右侧-->
					<div class="content_body_right">
						<div class="right_title">
							<span class="titlename">给我留言</span> <span
								class="current_location">当前位置>联系我们</span> <span
								class="clear_float"></span>
						</div>

						<div class="getcontact_us">
							<form method="post" action="" class="message">
								<p>
									<span>留言标题：</span>
									<input  type="text" name="title" datatype="*3-14" nullmsg="标题不能为空" errormsg="标题长度为3-14位"  />
									
								</p>
								<p class="text_area">
									<span>留言内容：</span>
									<textarea class="message_content" name="content"></textarea>
									<h1 class="clear_float"></h1>
								</p>
								<p>
									<span>客户名称：</span>
									<input type="text" name="username" datatype="*3-14" nullmsg="用户名不能为空" errormsg="用户名长度为3-14位"  />
								</p>
								<p>
									<span>联系电话：</span>
									<input type="text" name="phone" datatype="m" nullmsg="电话不能为空" errormsg="号码长度为11位数"   />
								</p>
								<p>
									<span>QQ/MSN：</span>
									<input type="text" name="email" datatype="e" nullmsg="email不能为空" errormsg="email格式错误"  />
								</p>
								<p>
									<span> 验证码：</span><input type="text"   datatype="*" nullmsg="验证码为空"  ajaxurl="{:U('Public/vcode')}"/>
								</p>
								
								<p class="code">
								    <span>请输入图中字符，不区分大小写</span> 
									<img src="{:U('Public/vcode')}"   class="code_image"/><a class="code_image">看不清，换一张</a>
								</p>
                                <p class="special">
									<input type="submit" value="提交" class="submit" />
								</p>

							</form>
						</div>




					</div>

					<div class="clear_float"></div>

				</div>

			</div>



		</div>


	</div>

    <script>
		$(".message").Validform({
		  //alert(1);
		      tiptype:3,
		      showAllError:true,
		
		});
		
		/* 切换验证码 */
		var num =1;
		  $(".code_image").click(function(){
			 
			  	var url=$(this).attr("src");
			  	 
			  	
			  	//更改超链接地址的属性：
			  	//alert(url);
			  	$(this).attr("src","{:U('Public/vcode')}?num='"+num+"'");//变量不能在双引号中使用。
			  	$(".code_image").attr("src","{:U('Public/vcode')}?num='"+num+"'");
			  //然后让数字自增：
			  	num++;
			   
			  })
		
   </script>


