
    <title>列表查看</title>
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
            <!-- href must be unique and match the id of target div -->
            <li><a href="#tab2" class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">    
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>
            <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
           <style>
            .img{ width:100px;height:100px; }
           </style>
            <p>
              <label>图片</label>
              <span><img  src='__ROOT__/{$arr.images}'  alt="产品" class="img" ></span>
            </p>  
            <p>
              <label>用户名</label>
              <input class="text-input small-input" type="text"   value="{$arr.username}"  readonly="readonly"/>
            </p>  
            <p>
              <label>留言</label>
              <input class="text-input small-input" type="text"    value="{$arr.maseege}"  readonly="readonly"/>
            </p> 
            <p>
              <label>订单号</label>
              <input class="text-input small-input" type="text"     value="{$arr.ordernum}"  readonly="readonly"/>
            </p> 
             <p>
              <label>数量</label>
              <input class="text-input small-input" type="text"     value="{$arr.number}"  readonly="readonly"/>
            </p>
            <p>
              <label>卖家促销</label>
              <input class="text-input small-input" type="text"     value="{$arr.chuxiao}"  readonly="readonly"/>
            </p>
            <p>
              <label>店铺优惠</label>
              <input class="text-input small-input" type="text"     value="{$arr.discount}"  readonly="readonly"/>
            </p>
            <p>
              <label>配送</label>
              <input class="text-input small-input" type="text"     value="{$arr.peishong}"  readonly="readonly"/>
            </p>
            <p>
              <label>单价</label>
              <input class="text-input small-input" type="text"     value="{$arr.promotion_price}"  readonly="readonly"/>
            </p>
            <p>
              <label>产品简介</label>
              <input class="text-input small-input" type="text"     value="{$arr.des}"  readonly="readonly"/>
            </p>
            <p>
              <label>姓名</label>
              <input class="text-input small-input" type="text"     value="{$arr.name}"  readonly="readonly"/>
            </p>
            <p>
              <label>号码</label>
              <input class="text-input small-input" type="text"     value="{$arr.phone}"  readonly="readonly"/>
            </p>
            <p>
              <label>地址</label>
              <input class="text-input small-input" type="text"     value="{$arr.address}"  readonly="readonly"/>
            </p>
            <p>
              <label>时间</label>
              <input class="text-input small-input" type="text"     value="{$arr.time1}"  readonly="readonly"/>
            </p>
            <p>
              <label>付款状态</label>
              <input class="text-input small-input" type="text"     value="{$arr.zhihu}"  readonly="readonly"/>
            </p>
            <p>
              <label>发货状态</label>
              <input class="text-input small-input" type="text"     value="{$arr.fahuo}"  readonly="readonly"/>
            </p>
            <p>
              <label>收货状态</label>
              <input class="text-input small-input" type="text"     value="{$arr.shouhuo}"  readonly="readonly"/>
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
