
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<base href="__ADMIN_BASE__" />
<link rel="stylesheet" type="text/css" href="css/base_ducvy.css" />
<script type="text/javascript" src="js/jQuery.1.8.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- 引入验证插件  -->
<script type="text/javascript"  src="__ROOT__/valite/js/Validform_v5.3.2_min.js"></script>
</head>

<body>

	<!--所有页面的头部-->
	<div class="header">
		<div class="headbox">
			<div class="logo">
				<a href="{:U('Index/index')}"><img src="images/ducvy_logo.jpg" /></a>
			</div>
			<div class="headbox_right">
				<div class="headbox_right_link">
					<p class="link_left">
					 {$username}: 欢迎来到本网站
					   <if condition="SESSION('username')">
					    <a href="__MODULE__/Login/loginout">退出登录</a> 
					   <else />
                        <a href="__MODULE__/Login/login"> 请登录</a> 
                        <a href="__MODULE__/Regist/regist">免费注册</a>
                       </if>  
					</p>
					<p class="link_right">
						<a href="__MODULE__/MemberCenter/MemberCenter" class="personcenter"> 个人中心</a> 
                        <a href="__MODULE__/MemberCenter/ShoppingCart" class="mycookies"> 我的购物车（<span>{$shop}</span>）</a> 
                        <a href="{:U('MemberCenter/Favorite')}" class="collection"> 收藏夹</a>
					</p>
					<p class="clear_float"></p>
				</div>
				<div class="headbox_right_form">
					<form method="get" action="{:U('Product/ProductCenter')}">
						<input type="text" class="text" name="content" /> 
                        <input type="submit" class="submit" value="搜索" /> 
                        <span class="clear_float"></span>
					</form>
				</div>
				<div class="clear_float"></div>
			</div>
			<div class="clear_float"></div>

		</div>
	</div>



	<!--所有的顶导航  main_nav-->
	<div class="main_nav">
		<ul> 
             <foreach name="arr" item="v">
			  <if condition="CONTROLLER_NAME eq $v.en "> 
			   
			    <li class="main_nav_inthis"><a href="__MODULE__/{$v.url}" class="inthis">{$v.name}</a></li>
			    
			  <else />
			   <li><a href="__MODULE__/{$v.url}">{$v.name}</a></li>
			  </if>
			</foreach>
			<span class="clear_float"></span>
		</ul>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	